/* Enter your custom styles here */

.MSS {
    background-color: #8f1010 !important;
}

#demotile--selFioriTiles-header {
    background-color: #8f1010;
}

#demotile--selFioriTiles-footer {
    background-color: #8f1010;
}

#demotile--selFioriTiles-title {
    color: white;
}

#demotile--closePopup-BDI-content {
    color: white;
}



.ESS {
    background-color: #0f403f !important;
}

#demotileESS--selFioriTiles-header {
    background-color: #0f403f;
}

#demotileESS--selFioriTiles-footer {
    background-color: #0f403f;
}

#demotileESS--selFioriTiles-title {
    color: white;
}

#demotileESS--closePopup-BDI-content {
    color: white;
}



.WOT {
    background-color: #204030 !important;
}

#demotileWOT--selFioriTiles-header {
    background-color: #204030;
}

#demotileWOT--selFioriTiles-footer {
    background-color: #204030;
}

#demotileWOT--selFioriTiles-title {
    color: white;
}

#demotileWOT--closePopup-BDI-content {
    color: white;
}

span[id^="__tile"] {
	color : white !important;
}

/*
span[id^="__tile"] {
	color : white !important;
}
*/
/*
span[id^="__tile"] {
	color : white !important;
}
*/

.sapUshellLong {
    border-radius: 20px !important;
}

.TileRoundedCorner {
    border-radius: 20px !important;
}

.TileCardEffect {
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 2.0) !important;
    ;
    border-radius: 6px !important;
    ;
    position: relative !important;
    ;
    overflow: hidden !important;
    ;
}