/* Enter your custom styles here */

.MSS {
    background-color: cyan !important;
}

.ESS {
    background-color: red !important;
}

.sapUshellLong {
    border-radius: 20px !important;
}

.TileRoundedCorner {
    border-radius: 20px !important;
}

.card {
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

#demotile--selFioriTiles-header {
    background-color: cyan;
}

#demotile--selFioriTiles-footer {
    background-color: cyan;
}

#demotile--selFioriTiles-title {
    color: black;
}

#demotile--closePopup-BDI-content {
    color: black;
}

#demotileESS--selFioriTiles-header {
    background-color: red;
}

#demotileESS--selFioriTiles-footer {
    background-color: red;
}

#demotileESS--selFioriTiles-title {
    color: white;
}

#demotileESS--closePopup-BDI-content {
    color: white;
}