/* Enter your custom styles here */
.MSS {
   background-color: cyan !important;
}

.ESS {
   background-color: red !important;
}

#demotile--selFioriTiles-header {
    background-color: cyan;
}

#demotile--selFioriTiles-footer {
    background-color: cyan;
}

#demotile--selFioriTiles-title {
    color: black;
}

#demotile--closePopup-BDI-content {
    color: black;
}

#demotileESS--selFioriTiles-header {
    background-color: red;
}

#demotileESS--selFioriTiles-footer {
    background-color: red;
}

#demotileESS--selFioriTiles-title {
    color: white;
}

#demotileESS--closePopup-BDI-content {
    color: white;
}